.landing {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: whitesmoke;
  height: 100vh;
  overflow: hidden;
}

.landing-footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-size: 8rem;
  gap: 1rem;
  padding-bottom: 1rem;
  /* animation: footer-scroll 20s linear infinite; */
}

/* .landing-footer-icon:hover::after {
  content: '';
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: 0;
  z-index: 10;
} */

.title {
  text-align: center;
  font-size: 10rem;
  font-style: italic;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.border-gradient {
  display: flex;
  padding: 1rem;
  background-image: linear-gradient(135deg, whitesmoke, whitesmoke 33%, var(--color-back) 66%, var(--color-back));
  background-size: 500%;
  background-position: 0%, 0%;
  transition: background-position 0.5s ease;
}

.border-gradient:hover {
  background-position: 100%, 100%;
  cursor: pointer;
}

.menu-option {
  width: 10rem;
  height: 10rem;
  box-sizing: border-box;
  text-align: center;
  color: var(--color-back);
  font-size: 2rem;
  font-weight: bold;
  background-color: whitesmoke;
  border: 0.8rem solid whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes footer-scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}

/* @keyframes menu-hover {
  0% {
    background-position: 0%, 0%;
  }
  100% {
    background-position: 100%, 100%;
  }
} */
