.right-game-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
}

.right-game-area-center {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-game-area-top {
  border-bottom: 2px solid whitesmoke;
  height: 7.5vh;
  /* background-color: rgba(0, 0, 0, 0.5); */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.right-game-area-bottom {
  border-top: 2px solid whitesmoke;
  height: 7.5vh;
  /* background-color: rgba(0, 0, 0, 0.5); */
  text-align: center;
}

.player-name {
  font-size: 1.5rem;
}

.player-name p {
  margin: 0;
}
