body {
  margin: 0;
  /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'EB Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  --primary: rgb(141, 23, 23);
  --sidebar-width: 15vw;
  --gamearea-width: 85vw;
  /* Piece Colours */
  --basic-light: whitesmoke;
  --basic-dark: black;
  --scourge-light: lightgreen;
  --scourge-dark: darkgreen;
  --crimson-light: rgb(245, 146, 135);
  --crimson-dark: rgb(145, 39, 28);
  --rune: rgb(10, 124, 130);
  --rune-transparent: rgba(10, 124, 130, 0.75);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ui-button {
  text-align: center;
}

.ui-button:hover {
  cursor: pointer;
}
